<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <ul id="menu">
          <li><a href="/portfolio" class="link on" id="link-portfolio">Portfolio</a></li>
          <li><a href="/contact" class="link" id="link-contact">Contact</a></li>
          <li><a href="" class="link" id="link-instagram">Instagram</a></li>
        </ul>
      </div>
      <div class="body">
        <p id="logo">
          Magda Zalewa
        </p>
        <ul id="images">
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
          <li>F</li>
        </ul>
      </div>
      <div class="info"></div>
    </div>
  </body>
</html>
